<div class="container-fluid">
	<h1>Law Office of Zachary T. Tyson</h1>
</div>

<hr>

<div class="container">
	<%= link_to "Intake", new_intake_path  %>
</div>
<div class="container">
	<%= link_to "Judicial Counsel Form", jcforms_path  %>
</div>