<%= check_box("tag", tag.id, {checked: true}) %>
<h1 id='blah' style='display:none'>hola zack!</h1>
<button onclick="document.getElementById('blah').style.display = 'block'">214.1</button> 




<hr>
<%= @box %>